* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 400px;
    height: 320px;
    border-style: solid;
    margin: auto;
    text-align: center;
    background: linear-gradient(90deg, orange, purple);
    border-color: transparent;
    margin-top: 100px;
    margin-left: 180px;
    border-radius: 5px 80px 5px 80px;
}

h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
}

input {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
}

button {
    width: 200px;
    margin-top: 20px;
    height: 35px;
    text-align: center;
    border-radius: 5px 25px 5px 25px;
    background: linear-gradient(90deg, orange, purple);
    color: white;
}

button:hover {
    background: white;
    color: black;
}