* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.outer h1 {
    text-align: center;
}


.outer pre {
    font-size: 20px;
}

.border {
    width: 100%;
    padding: 5px;
    background-color: rgb(193, 193, 193);
    border: 1px solid black;
    font-weight: bold;
}

ul {
    padding-left: 50px;
    font-size: 20px;
}

h2 {
    float: right;
}