* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    background: url(images/bg1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    /* background-repeat: no-repeat; */
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 100px;
    align-items: center;
    margin-top: 15px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    line-height: 80px;
    margin: 0 8px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'roboto'sans-serif;
    border: 2px solid red;
    border-radius: 10px;
}

.content {
    margin-top: 200px;
    /* margin-left: 500px; */
}

.content h1 {
    font-size: 75px;
    color: #fff;
    text-align: center;
}

#btn1 {
    margin-left: 650px;
    width: 150px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: red;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#btn2 {
    margin-left: 20px;
    width: 150px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: red;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 35px;
}

.navbar ul li a:hover {
    background-color: rgb(8, 255, 255);
    font-size: 25px;
    border-radius: 0px;
    color: black;
}

#btn2:hover {
    background-color: rgb(8, 255, 255);
    width: 170px;
    color: rgb(0, 0, 0);
    border: 2px solid red;
}

#btn1:hover {
    background-color: rgb(8, 255, 255);
    width: 170px;
    color: rgb(0, 0, 0);
    border: 2px solid red;
}

.logo:hover {
    width: 170px;
    height: 60px;
    margin-top: 10px;
    /* margin-left: 10px; */
}