* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg.jpg);
    background-position: center;
    color: white;
    overflow: hidden;
    position: relative;

}

nav {
    display: flex;
    padding: 20px;
    align-items: center;
}

nav img {
    width: 150px;
    margin-left: 80px;
}

nav ul {
    margin-right: 50px;
    text-align: right;
    display: inline;
    list-style: none;
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

nav ul li:hover {
    background: #dbfa2c;
    color: black;
    border: 2px solid rgb(240, 7, 7);
    width: 160px;
}

.main-section {
    text-align: center;
    margin-top: 200px;
}

.main-section h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

button {
    width: 150px;
    height: 40px;
    background: transparent;
    color: white;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}