* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu {
    list-style-type: none;
}

.menu ul li {
    background-color: red;
    border: 1px solid white;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
    position: relative;

}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu ul ul {
    position: absolute;
    display: none;
}

.menu ul li:hover>ul {
    display: block;
}

.menu ul li a:hover {
    background-color: green;
}